/buck-out
/.buckd
/ubuntu-xenial-16.04-cloudimg-console.log
/.vagrant
/core
perf.data
perf.data.old
.buckconfig.local
.stunrc.test

dist/stun.zip
dist/stun-*.zip
dist/stun

/buckaroo/
BUCKAROO_DEPS

*.xcodeproj
*.xcworkspace
/certs
